<!DOCTYPE html>
<html>
    <!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />        
        <script src="https://d3js.org/d3.v5.js"></script>
    </head>
    <body>
        <div id="graph_container"></div>    
        <script>
            var dataset= {{{sample}}};
        </script>
        <script src="https://d3js.org/d3.v5.js"></script>
        <script src="/javascripts/index.js"></script>
    </body>
</html>