{% extends "base.html" %}

{% block graphs %}
<div id="graphSet1Container" class="col-12"></div>
{% endblock %}

{% block sliders %}
  <div id="sliders" class="col-12">
    <p>
    <label>Date:</label>
    <input type="text" id="date" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="slider"></div>

    <p>
    <label>Time:</label>
    <input type="text" id="time" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="timeSlider"></div>

    <p>
    <label>Distance:</label>
    <input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="distanceSlider"></div>

    <p>
    <label>Elevation:</label>
    <input type="text" id="elevation" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="elevationSlider"></div>

    <p>
    <label>Heart Rate:</label>
    <input type="text" id="heartrate" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="heartrateSlider"></div>
  </div>
{% endblock %}

{% block right_column %}
<br></br>
<div class="dropdown">
  <button onclick="showDropdown('myDropdown')" class="btn btn-secondary">Add Users' Data</button>
  <div id="myDropdown" class="dropdown-content" onchange="findUserData()">
    <input id="userSearch" placeholder="Search for users">
  </div>
</div>
<div id="usersColumn" style="height: 200px;">
  <label for="usersList">Users' Data present: </label>
  <label for="usersList">Click to remove a users' data</label>
  <ul id="usersList" class="list-group"></ul>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='javascripts/multi_user.js')}}"></script>
{% endblock %}
