<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Dashboard</title>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <link rel='stylesheet' href="{{ url_for('static',filename='styles/style.css') }}" />
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script>
            var dataset = {{ sample|tojson }};
            var reg = {{regression|tojson }};
        </script>
        <script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{url_for('auth.logout')}}">Log Out</a>
        {% block navbar %}
        {% endblock %}
      </nav>
      {% block body %}
      {% block toolbar %}
      {% endblock %}
      <div id="mainColumn" class="column middle">
        {% block main_column %}
        {% endblock %}
      </div>
      <div id="rightColumn" class="column right">
        {% block right_column %}
        {% endblock %}
      </div>
      {% endblock %}
      <script src="{{url_for('static', filename='javascripts/functions.js')}}"></script>
      <script src="{{url_for('static', filename='javascripts/filters.js')}}"></script>
      <script src="{{url_for('static', filename='javascripts/scatter.js')}}"></script>
      <script src="{{url_for('static', filename='javascripts/barchart.js')}}"></script>
      <script src="{{url_for('static', filename='javascripts/trendline.js')}}"></script>
      <script src="{{url_for('static', filename='javascripts/graphSet.js')}}"></script>
      {% block scripts %}
      {% endblock %}
    </body>
</html>
