{% extends "base.html" %}

{% block main_column %}
  <div id="graphs" class="row graph_container">
    <div id="primary_graphs" class="col-12"></div>
    <div id="secondary_graphs"></div>
  </div>
  <div class="row">
    <div id="sliders" class="col-12">
      <p>
      <label>Date:</label>
      <input type="text" id="date" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider"></div>

      <p>
      <label>Time:</label>
      <input type="text" id="time" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="timeSlider"></div>

      <p>
      <label>Distance:</label>
      <input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="distanceSlider"></div>

      <p>
      <label>Elevation:</label>
      <input type="text" id="elevation" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="elevationSlider"></div>

      <p>
      <label>Heart Rate:</label>
      <input type="text" id="heartrate" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="heartrateSlider"></div>
    </div>
    <div id="graph2sliders">
      <p>
        <label for="date2">Date:</label>
        <input type="text" id="date2" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="graph2slider"></div>

      <p>
        <label for="time2">Time:</label>
        <input type="text" id="time2" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="graph2timeSlider"></div>

      <p>
        <label for="distance2">Distance:</label>
        <input type="text" id="distance2" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="graph2distanceSlider"></div>

      <p>
        <label for="elevation2">Elevation:</label>
        <input type="text" id="elevation2" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="graph2elevationSlider"></div>

      <p>
        <label for="heartrate2">Heart Rate:</label>
        <input type="text" id="heartrate2" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="graph2heartrateSlider"></div>
    </div>
  </div>
{% endblock %}

{% block right_column %}
<br>
<div>
    <button id="addChart" type="button" class="btn btn-sm btn-outline-secondary" title="Add a Second Layer of Data to the Graph">Add Data</button>
    <button id="mergeGraphs" display="none" type="button" class="btn btn-sm btn-outline-secondary" value="true" title="Split Layers into Separate Graphs">Split Graphs</button>
</div>
<br>
<label for="getPace">Search for your average pace in runs around a distance</label>
<input type="text" id="getPace" placeholder="Distance (m)" name="tags" class="form-control" onchange="getNeededPace(document.getElementById('getPace').value, dataObject1)"/>
<ul id="distancePace" class="list-group"></ul>
<br>
<label for="ThresholdPace">Click on regression line to set a threshold pace: </label>
<ul id="ThresholdPace" class="list-group"></ul><br></br>
<br>
<label for="tags">Apply custom tags to filter data with (This will filter any activities with these tags in the description)</label>
<input type="text" id="tags" placeholder="Add Filter Tags" name="tags" class="form-control" onchange="filterTags(document.getElementById('tags').value)"/>
<br>
<input type="button" class="btn btn-primary" value="Refresh Trend Lines" onclick="refreshTrendLines(dataObjects)"/>
<br></br>
<div id="tagsColumn">
  <label for="tagsList">Tags present: </label>
  <ul id="tagsList" class="list-group"></ul>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='javascripts/index.js')}}"></script>
{% endblock %}
