<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      {% from "_formhelpers.html" import render_field %}
      <form method=post>
        {{ form.hidden_tag() }}
        <dl>
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {{ render_field(form.remember_me) }}
        </dl>
        <p><input type=submit value=LogIn>
      </form>
      <br>
      <div>
        Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
      </div>
    </div>
  </body>
</html>
