{% extends "base.html" %}
{% block body %}
<a href="{{url_for('logout')}}">Log Out</a>
<div class="dropdown">
  <button onclick="showDropdown()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content" onchange="findUserData()">
    <input id="userSearch" placeholder="Search for users">
  </div>
</div>
<p id="ThresholdPace"></p>
<div id="row">
  <div id="mainColumn" class="column middle">
    <div id="graphSet1Container" class="graph_container"></div>
    <div id="wrapper">
      <div id="sliders" class="sliders">
        <label>Date:</label><div id="slider"></div>
        <label>Time:</label><div id="timeSlider"></div>
        <label>Distance:</label><div id="distanceSlider"></div>
        <label>Elevation:</label><div id="elevationSlider"></div>
        <label>Heart Rate:</label><div id="heartrateSlider"></div>
        <input type="text" id="tags" name="tags"/><input type="submit" value="Submit" onclick="filterTags(document.getElementById('tags').value)"/>
        <input type="button" class="btn btn-primary" value="Refresh Trend Line" onclick="updateTrendline(primaryFilterObject.getFilteredData(), primaryFilterObject.getGraphSet().getScatter(), 'line_primary')"/>
      </div>
    </div>
  </div>
  <div id="usersColumn" class="column right">
    <div id="usersList" class="user-list"></div>
  </div>
</div>
<script src="{{url_for('static', filename='javascripts/multi_user.js')}}"></script>
{% endblock %}
