<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="">
              {{ form.hidden_tag() if form.hidden_tag }}
              {% for f in form if f.type != 'CSRFTokenField' %}
              <div>
              {{ f.label }}
              {{ f }}
              {% if f.errors %}
              <ul>
                  {% for e in f.errors %}
                  <li>{{ e }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              </div>
              {% endfor %}
              <input type="submit" value="Register"/>
      </form>
      Already a user? <a href="{{ url_for('login') }}">Login here</a>
  </body>
</html>
